BOT_TOKEN=توکن_جدید_ربات_بله
ADMIN_IDS=1327301762,123456789,987654321
MONGO_URI=mongodb://127.0.0.1:27017/oustabashi
BALE_API=https://tapi.bale.ai
# مسیر اختیاری پایتون محیط PDF؛ اگر خالی باشد مسیر پیش‌فرض استفاده می‌شود
PDF_PYTHON=C:\\Users\\Behiii\\AppData\\Local\\Programs\\GapGPT\\resources\\gap-runtime\\python\\python.exe
